$Primary: #6d4c41;
$PrimaryLight: #9c786c;
$PrimaryDark: #40241a;

$Secondary: #bcaaa4;
$SecondaryLight: #efdcd5;
$SecondaryDark: #8c7b75;

$White: white;
$Black: #260e04;

$HeaderHeight: 55px;
$FooterHeight: 55px;
